<html>
  <head>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/primer@10.5.0/build/build.css">
	</head>
	<body>
	  <h1>ScoreHub</h1>
    <div class="p-5">
      <div class="blankslate blankslate-narrow">
        <img class="avatar avatar-8 mr-2" width="128" height="128" src="<%= avatar_url %>" />
        <h3>Hey, <a href="https://github.com/<%= login %>" target="blank">@<%= login %></a>!</h3>
      </div>
	  </div>
  </body>
</html>